
<div class="container card p-3 <%= ['card-bg-1', 'card-bg-2', 'card-bg-3', 'card-bg-4', 'card-bg-5'].sample %> text-dark d-flex flex-column justify-items-start">
  <h1>Log In:</h1>

  <%= form_tag url_for(action: 'create'), method: :post do %>
    <div class="mb-3">
      
      <%= label_tag :email %>
      <%= text_field_tag :email,nil, class: "form-control"  %>
    </div>
    <div class="mb-3">
      
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, class: "form-control"  %>
    </div>
    <%= submit_tag "Log in", class: "btn btn-dark" %>
  <% end %>
</div>
