<div id="comment-likes" class="container d-flex flex-row m-2 justify-content-end">
  <% if comment.likes.map(&:user).include?(current_user) %>
    <% like = comment.likes.find_by(user: current_user) %>
    <%= form_with(model: like, url: like_path(like), method: :delete, local: true) do |form| %>
      <button name="commit" type="submit" class="btn btn-success position-relative">
        Remove Like <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge bg-secondary"><%= comment.likes.count %></span>
      </button>
    <% end %>

  <% else %>
    <%= form_with(model: Like.new , url: comment_likes_path(comment), local: true) do |form| %>
      <%= form.hidden_field :likeable_id, value: comment.id %>
      <button name="commit" type="submit" class="btn btn-success position-relative">
        Like <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge bg-secondary"><%= comment.likes.count %></span>
      </button>
    <% end %>
  <% end %>
</div>
