<% if comment.comments.count > 0 %>
  
  <button 
    type="button" 
    class="btn btn-dark m-1"
    data-bs-toggle="collapse"
    data-bs-target="#comment-on-comments-index"
    aria-expanded="false"
    aria-controls="comment-on-comments-index">
    Show all <%= comment.comments.count %> comments
    </button>
<% end %>
<div id="comment-on-comments-index" class="container mt-2 collapse">
  <% comment.comments.each do |comment| %>
    <h5>By: <%= comment.user.first_name %></h5>
    <p><%= comment.content %></p>
    <% if check_if_current_user(comment.user) %>

      <div class="d-flex justify-content-center">
        <%= button_to "Edit comment",
          edit_comment_path(
            id: comment.id
          ),
          method: :get,
          class: "btn btn-warning mx-2"
        %>

        <%= button_to "Delete comment",
          comment_path(
            id: comment.id
          ),
          method: :delete,
          class: "btn btn-danger mx-2"
        %>
      </div>
    <% end %>
    <hr>
  <% end %>
</div>
