
<div class="container">
  <div class="container m-2">
    <div class="d-flex flex-column">
      <%= form_with(model: Comment.new, url: comment_comments_path(comment), local: true) do |form| %>
        <%= form.hidden_field :comment_id, value: comment.id %>
        <%= form.label "Write your comment:", class: "form-label" %>
        <br>
        <%= form.text_area :content, class: "form-control" %>
        <br>
        <%= form.submit "Post", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
