<div class="jumbotron jumbotron-fluid d-flex align-items-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= asset_path('jumbotron-image.jpg') %>); background-size: cover; height: 40vh; background-position: 50% 50%; ">
  <div class="container text-center">
    <% if current_user %>
      <h1 class="display-4">Welcome To The Gossip Project, <%= current_user.first_name %></h1>
    <% else %>
      <h1 class="display-4">Welcome To The Gossip Project</h1>
      
    <% end %>
  </div>
</div>

<div class="container">
  
  <div class="d-flex flex-column justify-content-evenly">

    <div class="container d-flex flex-row justify-content-center m-2"> <% if current_user %>
        <%= button_to 'Create Gossip', new_gossip_path, method: :get, class:'btn btn-dark' %>
      <% end %>
    </div>
    <div class="container d-flex flex-row justify-content-center m-2">
      <%= button_to 'Find by tag', tags_path, method: :get, class:'btn btn-dark' %>
    </div>
    <h3>Nearby Gossip</h3>
    <p class="padded-text text-center fw-bolder">Scan the area for gossip</p>
    <div class="d-flex justify-content-center">
        <button data-controller="geolocation" data-action="click->geolocation#startGeolocation" class="btn btn-success">Scan</button>
    </div>
    <%= render partial: "gossip/index", locals: { gossips: @nearby_gossip } %>

    <h3>All Gossip</h3>
    <%= render partial: "gossip/index", locals: { gossips: @gossips } %>
  </div>
</div>
