<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="p-2 card w-50" style="width: 18rem;">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <div>
          <h3 class="card-title text-center"> <%= @gossip.title %></h3>
          <h5 class="card-title">By: <%= link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}" , user_path(id: @gossip.user.id)%></h5>
          <p class="card-text"><%= @gossip.content %></p>
          <div class="container d-flex flex-row justify-content-center">
            <%= button_to 'Edit', edit_gossip_path(@gossip.id), method: :get, class:'btn btn-warning' %>
            <%= button_to 'Delete', gossip_path(@gossip.id), method: :delete, class:'btn btn-danger' %>
          </div>
          <div class="container d-flex flex-column align-items-center">
            
            <%= link_to @gossip.user.city.name, city_path(@gossip.user.city_id) %>
            <a class="site-link" href="<%= root_path %>">Back to index</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container m-5">
    
    <div class="container m-2">
      <div class="">
        <h3>Comments:</h3>
        <div class="d-flex flex-column">
          
          <%= form_with(model: @comment, url: gossip_comments_path(@gossip), local: true) do |form| %>
            <%= form.hidden_field :gossip_id, value: @gossip.id %>
            <%= form.label "Write your comment:", class: "form-label" %>
            <br>
            <%= form.text_area :content, class: "form-control" %>
            <br>
            <%= form.submit "Post", class:"btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container m-2">
        <div class="p-2 card d-flex flex-wrap m-1">
          <div class="card-body w-30">
            <div class="d-flex flex-column">
              <h5>This gossip has <%= @gossip.comments.count %> comments.</h5>
            </div>
          </div>
        </div>
      <% @gossip.comments.each do |comment| %>
        <div class="p-2 card d-flex flex-wrap m-1">
          <div class="card-body w-30">
            <div class="d-flex flex-column">
              <h5 class="card-title">By: <%= comment.user.first_name %></h5>
              <p class="card-text"><%= comment.content %></p>
              <%= button_to "Edit comment",
                edit_gossip_comment_path(
                  gossip_id: @gossip.id,
                  id: comment.id
                ),
                method: :get,
                class: "btn btn-warning"
              %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
