<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="p-5 card w-50 card-bg-3" style="width: 18rem;">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <div>
          <h3 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h3>
          <h5 class="card-title">Age: <%= @user.age %></h5>
          <h5 class="card-title">Email: <%#= @user.email %></h5>
          <h5 class="card-title">City: <%= link_to @user.city.name , city_path(@user.city_id) %></h5>
          
          <p class="card-text"><%= @user.description %></p>
          <% if check_if_current_user(@user.id) %>
            
            <%= button_to "Delete user", user_path(@user.id), method: :delete %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  <div id="user-gossip-by-user" class="container">
    <h1>My Gosip:</h1>
    <%= render partial: "gossip/index", locals: { gossips: @my_gossip} %>
  </div>
  <div id="user-liked-gossip" class="container">
    <h1>Liked Gosip:</h1>
    <%= render partial: "gossip/index", locals: { gossips: @liked_gossip} %>
  </div>
</div>
