<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body data-turbo="false" class="d-flex flex-column justify-content-between">
    <%= render "layouts/navbar" %>
    <%= render "layouts/alerts" %>

    <div id="yield-container" class="container mt-5 flex-grow-1">
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
  </body>

</html>
