<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
<style type="text/css" >
  nav, footer {
    background-color: #f9e784;
    color: #170312; 
  }
  .nav-item, .nav-link, .navbar-brand {
    color: #170312; 
  }

  .site-link {
    color: #fff;
  }
  body {
    background-color: #170312 !important; 
    color: #fff;
  }

  .card-bg-1 {
    background-color: #c94277 !important; 
  }

  .card-bg-2 {
    background-color: #5ca4a9 !important; 
  }

  .card-bg-3 {
    background-color: #f3752b !important; 
  }

  </style>
  <header>
    <%= render "layouts/navbar" %>
  </header>
  <body>
    <div class="container mt-5">
      
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>

</html>
