<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body data-turbo="false">
    <header>
      <%= render "layouts/navbar" %>
    </header>
    <div class="container">
      
      <% flash.each do |name, type| %>
        <% puts "name:  #{name}, type:  #{type}" %>
        <% if name == "notice" %>
          <%= content_tag :div, type, :class => "alert alert-primary flash_name-#{name}", :role => "notice" %>
        <% elsif name == "alert" || name == "error" %>
          <%= content_tag :div, type, :class => "alert alert-danger flash_name-#{name}", :role => "alert" %>
        <% else %>
          <%= content_tag :div, type, :class => "alert alert-warning flash_name-#{name}", :role => "warning" %>
        <% end %>
      <% end %>
      
    </div>
    <div class="container mt-5">
      
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>

</html>
